/* ---------------------------- 全局样式 -------------------------------- */
html {
    height:100%;
}

body {
    position: relative;
    min-height: 100%;
    font-family: "Helvetica Neue","Microsoft YaHei",'\5b8b\4f53',Arial,Helvetica,sans-serif;
    font-size: $font-size-base;
    color: $main-text-color;
    background: $body-bg;

    &:after {
        display:block;
        content:" ";
        height:$footer-height;
    }
}

a {
    color: $link-color;
    text-decoration:none;
    cursor:pointer;

    &:hover {
        color:$link-color-hover;
    }
}

ul, ol, li, p, h1, h2, h3, h4, h5, h6, pre {
    margin: 0;
    padding: 0;
}

li {
    list-style:none;
}

// 控件占位文本颜色
input::-webkit-input-placeholder { color:$placeholder-text-color; }
input:-moz-placeholder { color:$placeholder-text-color; }
input::-moz-placeholder { color:$placeholder-text-color; }
input:-ms-input-placeholder { color:$placeholder-text-color; }

